// Your styles go here
body {
  background: #202020 url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

@import url('_typography.scss');
@import url('_images.scss');
@import url('_nav.scss');
@import url('_lists.scss');

$button-color: #0d6efd;
$white-color: #fff;

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
  line-height: 1.7em;

  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

section,
article {
  margin-bottom: 3em;

  > :last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &.small {
    width: 900px;
  }

  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }
}

.row {  
  margin-left: -50px;

  section, article {
    margin-bottom: 0;
  }

  [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}


.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: $button-color;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $white-color;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $button-color;
    color: $white-color !important;
  }
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: $white-color;
}

.page {
  position: relative;
  background: $white-color;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  margin-top: 1em;
  position: relative;
  color: rgba(255, 255, 255, .4);

  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $white-color;
  }

  strong {
    color: rgba(255, 255, 255, .7);
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, .4);

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, .4) !important;
  }
}

.marketing {
  position: relative;

  header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;

  .divider {
    border-bottom: 1px solid #303030;
  }
  
  .box {
    background: $white-color;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: #333;

  strong {
    color: #333 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}